<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.javaApplet">
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="test_2"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_INSTALL_NAME" value="jre7"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test_2_1.Client"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_INSTALL_TYPE_ID" value="org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType"/>
</launchConfiguration>
