<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<stringAttribute key="vmargs" value=""/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="progargs" value=""/>
<stringAttribute key="configLocation" value=""/>
<booleanAttribute key="includeFragments" value="false"/>
<booleanAttribute key="askclear" value="true"/>
<stringAttribute key="templateConfig" value=""/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="product" value="org.eclipse.sdk.ide"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location1" value="d:\runtime-workspace"/>
<booleanAttribute key="useProduct" value="true"/>
<booleanAttribute key="default" value="true"/>
<stringAttribute key="location0" value="d:\runtime-workspace"/>
<booleanAttribute key="clearConfig" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<booleanAttribute key="usefeatures" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
</launchConfiguration>
