/* CSS Document */
table{
border:1px solid #09C
}

/*index.css*/

*{margin:0;  padding:0; list-style:none; }

/*body样式*/
body{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:14px;
	background-color:#FFF;
}

/*连接样式*/
a:link {
	color: #000000;
	text-decoration:none}

a:visited {
	color: #000000;
	text-decoration:none
}
a:hover {
    text-decoration:none;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#66c2de
}
a:active {
    color:#66c2de
}



.xian{border-left-style:none;border-right-style:none;border-style:none; }
文字样式
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
h1 {
	font-size: 24px;
	line-height: 44px;
	}
h2 {
	font-size: 18px;
	line-height: 40px;
	}
h3 {
	font-size: 16px;
	line-height: 22px;
	}
h4 {
	font-size: 14px;
	line-height: 26px;
	}
h5 {
	font-size: 12px;
	line-height: 22px;
	}
h6 {
	font-size: 10px;
	line-height: 18px;
	}
strong, b {
	font-weight: bold;
	}
p {
	font-size: 12px;
	line-height: 22px; 
	} 
	
	img {
	border: 0;
	}
	